/* aadhaar field */
.adr {
    
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}

/* vote button container */
.votebtn {
    
    padding-top: 6px;
}
